In [1]:
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_parquet("../data/silver/water_consumption_silver.parquet")
df.head()

,timestamp,year,month,day,day_of_week,week_of_year,hour,input_flow_rate_first,input_flow_rate_last,input_flow_rate_mean,reservoir_level_percentage_first,reservoir_level_percentage_last,reservoir_level_percentage_mean,output_flow_rate_first,output_flow_rate_last,output_flow_rate_mean,pressure_first,pressure_last,pressure_mean,pump_1_duration_sum,pump_2_duration_sum,air_temp_c,total_precip_mm,relative_humidity_percentage,input_flow_rate_diff,output_flow_rate_diff,reservoir_level_change,pressure_change,pump_1_active,pump_2_active,change_from_last_hour_output_flow_rate_mean,inputed_row
1,2023-03-17 13:00:00,2023,3,17,4,11,13,65.64,65.24,65.587143,39.00,44.40,41.617143,45.640000,49.240000,50.704846,38.13,38.27,38.181429,0.000000,3600.00000,28.9,0.0,59.0,-0.40,3.600000,5.40,0.14,False,True,1.014115,False
2,2023-03-17 14:00:00,2023,3,17,4,11,14,66.46,65.64,65.654000,44.40,49.86,46.736500,66.460000,14.858750,50.261628,38.40,38.63,38.459000,0.000000,3600.00000,29.9,0.0,54.0,-0.82,-51.601250,5.46,0.23,False,True,-0.443218,False
3,2023-03-17 15:00:00,2023,3,17,4,11,15,65.64,33.74,49.395000,50.56,53.80,52.405000,42.306667,93.740000,73.561667,38.70,38.40,38.515000,145.788337,3600.00000,30.4,0.0,53.0,-31.90,51.433333,3.24,-0.30,True,True,23.300038,False
4,2023-03-17 16:00:00,2023,3,17,4,11,16,37.92,0.00,3.792000,53.80,38.76,45.368000,37.920000,56.000000,46.141631,38.50,31.12,32.054500,0.000000,667.39255,31.2,0.0,57.0,-37.92,18.080000,-15.04,-7.38,False,True,-27.420036,False
5,2023-03-17 17:00:00,2023,3,17,4,11,17,0.00,0.00,0.000000,37.90,21.20,29.540870,57.333333,66.666667,48.086957,31.05,30.25,30.594783,0.000000,0.00000,31.3,0.0,60.0,0.00,9.333333,-16.70,-0.80,False,False,1.945325,False

In [3]:
df_weekdays = df[df['day_of_week'] < 5]
df_weekends = df[df['day_of_week'] >= 5]

In [4]:
flow_out_weekdays = df_weekdays[df_weekdays.inputed_row==False].groupby('hour')['output_flow_rate_mean'].mean().reset_index().rename(columns={'output_flow_rate_mean': 'avg_weekday_output_flow'})
flow_out_weekends = df_weekends[df_weekends.inputed_row==False].groupby('hour')['output_flow_rate_mean'].mean().reset_index().rename(columns={'output_flow_rate_mean': 'avg_weekend_output_flow'})

In [5]:
df_combined = pd.merge(flow_out_weekdays, flow_out_weekends, on='hour', how='outer')

In [6]:
df_combined

    hour  avg_weekday_output_flow  avg_weekend_output_flow
0      0                30.526321                29.995852
1      1                29.749454                30.869409
2      2                30.023102                29.932370
3      3                28.209940                28.463667
4      4                28.557232                25.918675
5      5                32.329028                30.354970
6      6                32.983937                32.137816
7      7                35.399097                32.859625
8      8                38.194082                37.177984
9      9                39.090797                43.127851
10    10                39.570631                45.225859
11    11                42.684165                48.764377
12    12                45.045672                50.471534
13    13                43.453693                47.464345
14    14                41.518965                43.986678
15    15                39.909171                41.274378
16    16                37.291834                40.386235
17    17                38.402351                43.203684
18    18                40.334992                41.550501
19    19                41.981054                40.983551
20    20                42.765702                39.150584
21    21                38.449284                37.240043
22    22                35.276386                35.889474
23    23                33.650065                34.973868